*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    
}
.left{
    width: 200px;
    
    height: 100%;
    
    background-color: rgb(15, 15, 15);
    color: white;
    position: fixed;
    left: 0;
    top: 0;    
}
.right{
    width: 100%;
    padding-left: 205px;
    padding-right: 5px;
}
.place-name{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 0;
}
.menunho{
    text-align: center;
}
.menunho ul li{
    list-style: none;
    text-align: center;
    padding: 5px;
    transition: 0.4s;
}
.menunho ul li:hover{
    transform: scale(1.5);
}

li a{
    text-decoration: none;
    
    color:white;
}

#gallery{
    width: 100%;
    margin: auto;
    columns: 4;
    column-gap: 5px;
}
.picture-cell{
    width: 100%;
    padding: 5px;
    overflow: hidden;
    break-inside: avoid;
}

.picture-cell img{
    width: 100%;
    transition: 0.4s;
    
}
.picture-cell img:hover{
    opacity: 0.5;  
}

.title {
    
    margin: auto;
    width: 100%;
    padding: 40px;
    text-align: center;
}
.para{
    width: 100%;
    margin: auto;
    padding: 0 20px;
    text-align: left;
    line-height: 2.5;
    text-indent: 1.5em;

}
.derect{
    width: 100%;
    margin: auto;
    padding:10px;
    
}
#map{
    width: 100%;
    padding: 10px;
    margin: auto;
}
.access-text{
    width: 80%;
    margin: auto;
    
    
}

@media only screen and (max-width:600px){
    
    .left{
        width: 100%;
        height: 220px;
    }
    .place-name{
        margin-bottom: 10px;
    }
    .place-name h3{
        font-size: 35px;
    }
    .place-name h4{
        font-size: 30px;
    }
    .menunho ul{
        display: flex;
    }
    .menunho ul li{
        width: 25%;
        font-size: 17px;
        
    }
    .right{
        padding-left: 0px;
        padding-top: 220px;
        width: 100%;
    }
    #gallery{
        
        columns: 1;
        
    }
    .picture-cell{
        width: 100%;
        padding: 10px;
        
    }
}
@media only screen and (min-width:600px){
    #gallery{
        columns: 2;
    }
}
@media only screen and (min-width:768px){
    #gallery{
        columns: 3;
    }
}
@media only screen and (min-width:992px){
    #gallery{
        columns: 4;
    }
}
@media only screen and (min-width:1200px){
    #gallery{
        columns: 5;
    }
}


