
.content{
    display: inline;
}
.left{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: rgb(15, 15, 15);
    color: white;
    left: 0;
    top: 0;    
}
.right{
    margin-left: 20%;
    padding:15px 15px 15px 15px;
    height: 100%;
}
.place-name{
    text-align: center;
    
    margin-top: 15px;
    font-size: 35px;
}
li a{
    text-decoration: none;
    padding: 8px 8px;
    display: block;
    color:white;
}
li a:hover{
    
    border: solid 2px white;
    width: 120px;
    left: 0;
}

.picture-row{
    text-align: center;
    
}
.picture-cell{
    display: inline;
    opacity: 0.7;
}
.picture-cell:hover{
    opacity: 1.0;
} 
.title {
    color: rgb(15, 15, 15);
    margin: auto;
    width: 800px;
    height: 70px;
    padding: 40px;
    text-align: center;
}
.para{
    width: 800px;
    margin: auto;
    text-align: left;
    line-height: 2.5;
    text-indent: 1.5em;

}
.access-text{
    width: 300px;
    margin: auto;
    padding-top: 20px;
    padding-left:40px;
    display: inline-block;
    vertical-align: top;
    line-height: 2;
}
#map{
    width: 600px;
    text-align: left;
    display: inline-block;
}


